In [39]:
import pandas as pd
import numpy as np

In [40]:
files = {
    'mean_listing_pricecut': 'mean_listings_price_cut.csv',
    'prcnt_listings_with_pricecut': 'percentage_of_listings_with_price_cut.csv',
    'avg_saleprice': 'median_sale price.csv',
    'avg_listing_price': 'avg_listing_price.csv',
    'avg_rental_price': 'avg_rentals.csv'
}

RegionName_ = ['United States', 'New York, NY','Los Angeles-Long Beach-Anaheim, CA','San Francisco, CA','San Jose, CA']

In [41]:
def read_data(file, **kw):
    df = pd.read_csv(file)
    df.sort_index(inplace=True)
    return df

In [42]:
mean_listing_pricecut=read_data( 'mean_listings_price_cut.csv')
prcnt_listings_with_pricecut=read_data('percentage_of_listings_with_price_cut.csv')
avg_saleprice=read_data('avg_sale price.csv')
avg_listing_price=read_data('avg_listing_price.csv')
avg_rental_price=read_data('avg_rentals.csv')

In [17]:
avg_rental_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 94 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    105 non-null    int64
 1   RegionName  105 non-null    object
 2   SizeRank    105 non-null    int64
 3   2014-01     98 non-null     float64
 4   2014-02     105 non-null    int64
 5   2014-03     104 non-null    float64
 6   2014-04     105 non-null    int64
 7   2014-05     105 non-null    int64
 8   2014-06     105 non-null    int64
 9   2014-07     105 non-null    int64
 10  2014-08     105 non-null    int64
 11  2014-09     105 non-null    int64
 12  2014-10     105 non-null    int64
 13  2014-11     105 non-null    int64
 14  2014-12     105 non-null    int64
 15  2015-01     105 non-null    int64
 16  2015-02     105 non-null    int64
 17  2015-03     105 non-null    int64
 18  2015-04     105 non-null    int64
 19  2015-05     105 non-null    int64
 20  2015-06     105 non-null    int64
 21  2015-07     105 non-null    int64
 22  2015-08     105 non-null    int64
 23  2015-09     105 non-null    int64
 24  2015-10     105 non-null    int64
 25  2015-11     105 non-null    int64
 26  2015-12     105 non-null    int64
 27  2016-01     105 non-null    int64
 28  2016-02     105 non-null    int64
 29  2016-03     105 non-null    int64
 30  2016-04     105 non-null    int64
 31  2016-05     105 non-null    int64
 32  2016-06     105 non-null    int64
 33  2016-07     105 non-null    int64
 34  2016-08     105 non-null    int64
 35  2016-09     105 non-null    int64
 36  2016-10     105 non-null    int64
 37  2016-11     105 non-null    int64
 38  2016-12     105 non-null    int64
 39  2017-01     105 non-null    int64
 40  2017-02     105 non-null    int64
 41  2017-03     105 non-null    int64
 42  2017-04     105 non-null    int64
 43  2017-05     105 non-null    int64
 44  2017-06     105 non-null    int64
 45  2017-07     105 non-null    int64
 46  2017-08     105 non-null    int64
 47  2017-09     105 non-null    int64
 48  2017-10     105 non-null    int64
 49  2017-11     105 non-null    int64
 50  2017-12     105 non-null    int64
 51  2018-01     105 non-null    int64
 52  2018-02     105 non-null    int64
 53  2018-03     105 non-null    int64
 54  2018-04     105 non-null    int64
 55  2018-05     105 non-null    int64
 56  2018-06     105 non-null    int64
 57  2018-07     105 non-null    int64
 58  2018-08     105 non-null    int64
 59  2018-09     105 non-null    int64
 60  2018-10     105 non-null    int64
 61  2018-11     105 non-null    int64
 62  2018-12     105 non-null    int64
 63  2019-01     105 non-null    int64
 64  2019-02     105 non-null    int64
 65  2019-03     105 non-null    int64
 66  2019-04     105 non-null    int64
 67  2019-05     105 non-null    int64
 68  2019-06     105 non-null    int64
 69  2019-07     105 non-null    int64
 70  2019-08     105 non-null    int64
 71  2019-09     105 non-null    int64
 72  2019-10     105 non-null    int64
 73  2019-11     105 non-null    int64
 74  2019-12     105 non-null    int64
 75  2020-01     105 non-null    int64
 76  2020-02     105 non-null    int64
 77  2020-03     105 non-null    int64
 78  2020-04     105 non-null    int64
 79  2020-05     105 non-null    int64
 80  2020-06     105 non-null    int64
 81  2020-07     105 non-null    int64
 82  2020-08     105 non-null    int64
 83  2020-09     105 non-null    int64
 84  2020-10     105 non-null    int64
 85  2020-11     105 non-null    int64
 86  2020-12     105 non-null    int64
 87  2021-01     105 non-null    int64
 88  2021-02     105 non-null    int64
 89  2021-03     105 non-null    int64
 90  2021-04     105 non-null    int64
 91  2021-05     104 non-null    float64
 92  2021-06     105 non-null    int64
 93  2021-07     105 non-null    int64
dtypes: float64(3), int64(90), object(1)
memory usage: 77.2+ KB

# Calculating our own PRR
We will base this off of Zillow Rental Data and Sales Data

Get the median rental price by city
Get the median sale price by city
Divide the two
Plot the result

In [44]:
avg_rental_price.drop('RegionID',1)
filtr=avg_rental_price[avg_rental_price.RegionName.isin(['United States', 'New York, NY','Los Angeles-Long Beach-Anaheim, CA','San Francisco, CA','San Jose, CA'])]
filtr

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07
0,102001,United States,0,1356.0,1361,1367.0,1373,1378,1384,1390,...,1712,1721,1729,1738,1747,1757,1766,1776.0,1786,1796
1,394913,"New York, NY",1,2205.0,2214,2224.0,2234,2244,2254,2264,...,2437,2433,2428,2424,2421,2418,2415,2414.0,2413,2413
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1868.0,1879,1890.0,1902,1913,1924,1935,...,2529,2538,2546,2554,2563,2572,2581,2591.0,2601,2611
11,395057,"San Francisco, CA",11,2134.0,2167,2199.0,2232,2264,2296,2328,...,2916,2909,2903,2897,2892,2887,2882,2880.0,2877,2875
34,395059,"San Jose, CA",34,2137.0,2172,2207.0,2242,2276,2310,2344,...,2920,2913,2906,2899,2893,2887,2881,2876.0,2872,2868